/* General */
.row {
    padding: 3%;
}

html, body {
    height: 100%;
    width: 100%;
}

.police {
    font-family: Corbel, sans-serif;
}

p {
    font-size: 22px;
}

.ldin {
    width: 5em;
    height: 5em;
    border-radius: 50px;
}

.infor img {

}

.center {
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: #343a40;
    font-family: sans-serif;
}

.imgtl {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    filter: brightness(70%);
}

.loisirs {
    margin-top: 3%;
    height: 20em;
    border-radius: 50px;
    animation: bubble-anim2 4s ease-out infinite;
    object-fit: cover
}

.first {
    border-radius: 20px 20px 0 0;
}
.intro {
    margin-top: 3%;
}

.progress {
    height: 3em;
    margin: 10%;
}

.index {
    z-index: -1;
}
.index1 {
    z-index: 1;
}

/*Fin general*/

/*
@media (min-width:992px) {

}
*/


/*
.bg-vache {
    background-image: url("../img/vache.jpg");
}
*/


/* Navbar*/

.nav-link {
    font-size: 20px;
    color: white;
}


.img-responsive {
    width: 3em;
    height: 3em
}

/* Carte */

.cardsize {
    min-height: 100%;
    color: #fff;
}

.card-columns {
    margin-top: 3%;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover
}

/* Couleur*/

.flou {
    filter: blur(8px);
}

.bg-grey {
    background-color: lightgrey;
}
.bg-gray {
    background-color: darkgray;
}

.blanc {
    color: white;
}

.grey {
    color: lightgrey;
}

.dark {
    color: #343a40;
}

.brd-transp {
    border: solid transparent 0;
}

/* FIN COULEURS*/

.timeline-badge {
    animation: bubble-anim 2s ease-out infinite;
}

@keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }
}

@keyframes bubble-anim2 {
    0% {
        transform: scale(1); }

    15% {
        transform: scaleY(1.005) scaleX(1.005); }

    30% {
        transform: scaleY(1) scaleX(1); }

    50% {
        transform: scaleY(1.005) scaleX(1.005); }

    65% {
        transform: scaleY(1) scaleX(1); }

    80% {
        transform: scaleY(1.005) scaleX(1.005); }

}

